
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
        <style>
        .manage-profile-address {
            display: flex;
            flex-direction: column;
        }

        .manage-address-row {
            background-color: #fff;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }

        .man-ad-left {
            display: flex;
            flex-direction: column;
        }

        .man-ad-right {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .man-ad-right i {
            font-size: 1.2rem;
            color: red;
            font-weight: 500;
        }

        .man-ad-right i:last-child {
            color: blue;
        }
    </style>    <title>Document</title>
</head>
<body>
     <div class="col-12 col-md-6">

                    {{#unless addAddress}}
                    <div class="manage-profile-address pt-3">
                        <div class="d-flex justify-content-around">
                            <h4>Manage address </h4>
                            {{#unless maxAddress}}
                            <a href="/addAddress" class="btn btn-dark rounded-4 ">Add Address</a>
                            {{/unless}}
                        </div>
                        {{#each data.address}}
                        <div class="manage-address-row">
                            <div class="man-ad-left">
                                <b>{{this.name}}</b>
                                <b>{{this.mob_no}} </b>
                                <b>{{this.address}}</b>
                                <b>PIN:{{this.pincode}}</b>
                            </div>
                            <div class="man-ad-right">
                                <a href="/delete_user_address/{{this.address_id}}">
                                <i class="ri-delete-bin-5-line"></i>
                                </a>
                                {{!-- <i class="ri-delete-bin-5-line" onclick="deleteAddress('<%=item.id%>')"></i> --}}
                                <a href='/edit_Address/{{this.address_id}}'><i class="ri-edit-box-line"></i></a>
                            </div>
                        </div>
                        {{/each}}

                        <div class="mt-3 text-center">

                                  <b class="font-weight-bold"><span class="text-danger font-weight-bold "> NOTE: </span>Only 3 Address Can Be Added</b>
                        </div>

                    </div>
{{else}}
{{!-- ************************************************************************************************************************ --}}
<div class="container">
  <div class="row mx-0 justify-content-center">
    <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3" style="width: 65%;">
        {{#unless edit}}
      <form
        method="POST"
        class=" rounded-1 p-4 border border bg-secondary"
        action="checkOutAddAddress"
      >
      <label class="d-block mb-4">
          <span class="form-label d-block">Name :</span>
          <input style="width: 100%;"
            name="name"
            type="text"
            class="form-control"
          />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Mobile No :</span>
          <input style="width: 100%;"
            name="mob_no"
            type="text"
            class="form-control"
            placeholder=""
          />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Pin Code :</span>
          <input style="width: 100%;" name="pincode" type="text" class="form-control" placeholder="" />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Address :</span>
          <input style="width: 100%; height: 5rem;"
            name="address"
            type="text"
            class="form-control"
            placeholder=""
          />
        </label>

        <div class="mb-3 text-center">
            
          <button type="submit" class="btn btn-primary px-3 rounded-3">
            Save
          </button>



        </div>
      </form>
      {{else}}
<form
        method="POST"
        class=" rounded-1 p-4 border bg-secondary"
        action="update_Address/{{edit.address_id}}:"
      >
        <label class="d-block mb-4">
          <span class="form-label d-block">Name :</span>
          <input style="width: 100%;"
            name="name"
            type="text"
            class="form-control"
            value="{{edit.name}}"
          />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Mobile No :</span>
          <input style="width: 100%;"
            name="mob_no"
            type="text"
            class="form-control"
            placeholder=""
            value="{{edit.mob_no}}"
          />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Pin Code :</span>
          <input style="width: 100%;" name="pincode" type="text" class="form-control" placeholder="" value="{{edit.pincode}}" />
        </label>

        <label class="d-block mb-4">
          <span class="form-label d-block">Address :</span>
          <input style="width: 100%; height: 5rem;"
            name="address"
            type="text"
            class="form-control"
            placeholder=""
            value="{{edit.address}}"
          />
        </label>

        <div class="mb-3 text-center">
            
          <button type="submit" class="btn btn-primary px-3 rounded-3">
            Save
          </button>



        </div>
      </form>
      {{/unless}}
     
    </div>
  </div>
</div>

{{/unless}}



{{!-- ************************************************************************************************************************ --}}

                </div>
</body>
</html>