<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orderHistory.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/productReview.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        .rating-box {
            padding: 25px 50px;
            background-color: #f1f1f1;
            border-radius: 25px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
            text-align: center;
        }

        .rating-box h3 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .rating-box .stars {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .stars i {
            font-size: 35px;
            color: #b5b8b1;
            transition: all 0.2s;
            cursor: pointer;
        }

        .stars i.active {
            color: #ffb851;
            transform: scale(1.2);
        }
    </style>
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <title>E-Zone</title>
</head>

<body>




    <div id="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="header-logo ">
                        <h1 class="font-weight-bold" style="color: #ffff;">E-<font color="#FFD523">Zone</font>
                        </h1>
                    </div>
                </div>
                <div class="col-10 text-center">
                    <h2 class="text-white">ORDER HISTORY</h2>
                </div>
            </div>
        </div>
    </div>

    {{#each products}}
    <section class="h-100 gradient-custom">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="card" style="border-radius: 10px; border-color: black;">
                        <div class="card-body p-4 ">
                            <div class="card-body p-4 ">
                                <div class="card shadow-0 border mb-4" style=" background-color: #E4E7ED ;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <img src="/images/{{this.image.[0].filename}}" class="img-fluid"
                                                    alt="Phone">
                                                <p class="text-muted mb-0">{{this.product_name}}</p>
                                            </div>
                                            <div
                                                class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Brand: {{this.brandName}}</p>
                                            </div>
                                            <div
                                                class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Price ₹: {{this.price}} /-</p>
                                            </div>
                                            <div
                                                class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Quantity: {{this.quantity}}</p>
                                            </div>
                                            <div
                                                class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">Total Amount ₹: {{this.totalAmount}} /-
                                                </p>
                                            </div>
                                            {{#unless this.cancelStatus}}
                                            <div
                                                class="col-md-2 text-center d-flex justify-content-center align-items-center ">
                                                <p class="text-muted my-auto">Order Status :</p>
                                                <p class="text-primary my-auto"> {{this.orderStatus}}</p>
                                            </div>
                                            {{else}}
                                            <div
                                                class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted my-auto">Order Status :</p>
                                                <p class="text-danger my-auto">Cancelled</p>
                                            </div>
                                            {{/unless}}
                                        </div>
                                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-2">
                                                <p class="text-muted mb-0 small">Order Date: {{this.orderDate}}</p>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="d-flex justify-content-around my-1 text-center">
                                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                                    {{#unless this.cancelStatus}}
                                                    {{#unless this.deliveryStatus}}
                                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"><a
                                                            href="/userOrderUpdate?order_id={{this.order_id}}&product_id={{this._id}}&quantity={{this.quantity}}"
                                                            class="btn btn-danger rounded-pill my-auto">Cancel Order</a>
                                                    </p>
                                                    {{else}}
                                                    <a href="/userOrderUpdate?order_id={{this.order_id}}&returnAmount={{this.totalAmount}}&cond=return"
                                                        class="btn btn-info rounded-pill my-auto">Return Product</a>
                                                    {{#unless this.rating}}
                                                    {{!-- <div class="container">
                                                        <div class="row" style="margin-top:40px;">
                                                            <div class="col-md-6">
                                                                <div class="well well-sm">
                                                                    <div class="text-right">
                                                                        <a class="btn btn-success btn-green"
                                                                            href="#reviews-anchor"
                                                                            id="open-review-box{{this._id}}">Leave a
                                                                            Review</a>
                                                                    </div>
                                                                    <div class="row" id="post-review-box{{this._id}}"
                                                                        style="display:none;">
                                                                        <div class="col-md-12">
                                                                            <form accept-charset="UTF-8"
                                                                                action="/productReview" method="post">
                                                                                <input type="hidden" name="order_id"
                                                                                    value="{{this.order_id}}">
                                                                                <input type="hidden" name="product_id"
                                                                                    value="{{this._id}}">
                                                                                <input id="ratings-hidden" name="rating"
                                                                                    type="hidden">
                                                                                <div class="stars starrr"
                                                                                    data-rating="0"></div>
                                                                                <a class="btn btn-danger btn-sm"
                                                                                    href="#" id="close-review-box"
                                                                                    style="display:none; margin-right: 10px;">
                                                                                    <span
                                                                                        class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                                                <button class="btn btn-success btn-lg"
                                                                                    type="submit">Save</button>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div> --}}

                                                    <!-- Button trigger modal -->
                                                    <div id="reviewButton{{this.order_id}}" >
                                                    <button  type="button" class="btn btn-success" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal{{this.order_id}}">
                                                        Rate Product
                                                    </button>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{this.order_id}}"
                                                        tabindex="-1" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered ">
                                                            <div class="modal-content ">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Modal
                                                                        title</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="rating-box">
                                                                        <h3>How was your experience?</h3>
                                                                        <div class="stars">
                                                                            <i class="fa-solid fa-star"
                                                                                onclick="rating('1')"></i>
                                                                            <i class="fa-solid fa-star"
                                                                                onclick="rating('2')"></i>
                                                                            <i class="fa-solid fa-star"
                                                                                onclick="rating('3')"></i>
                                                                            <i class="fa-solid fa-star"
                                                                                onclick="rating('4')"></i>
                                                                            <i class="fa-solid fa-star"
                                                                                onclick="rating('5')"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                    <button type="button"
                                                                        onclick="submit('{{this.order_id}}','{{this._id}}')"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/unless}}
                                                    {{/unless}}
                                                    {{/unless}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    {{/each}}

    <script>
        const stars = document.querySelectorAll('.stars i');
        const starsNone = document.querySelector('.rating-box');

        // ---- ---- Stars ---- ---- //
        stars.forEach((star, index1) => {
            star.addEventListener('click', () => {
                stars.forEach((star, index2) => {
                    // ---- ---- Active Star ---- ---- //
                    index1 >= index2
                        ? star.classList.add('active')
                        : star.classList.remove('active');
                });
            });
        });
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let star = 0;
        function rating(value) {
            star = value
            console.log(star, 'star')
        }
        function submit(orderId, productId) {
            console.log(star, 'sub', orderId, productId)
            axios.get(`/productReview?product_id=${productId}&order_id=${orderId}&rating=${star}`).then(() => {
                console.log('dfghjkl')
                document.getElementById('reviewButton'+orderId)=''
            })

        }
    </script>
</body>

</html>//