<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-Zone</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/imageZoom.css">
    <link rel="stylesheet" href="/css/singleProduct.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        /* Default styles for the image */
        .show img {
            max-width: 100%;
            height: auto;
        }

        /* Styles for the image when the screen width is less than or equal to 768px */
        @media screen and (max-width: 768px) {
            .show img {
                max-width: 50%;
                max-height: 50%;
                height: auto;
            }
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="card" style="height: 90vh;">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div style="z-index: 10;" class="show" href="/images/{{result.image.[0].filename}}">
                            <img src="/images/{{result.image.[0].filename}}" id="show-img">
                        </div>

                        <div class="small-img">
                            <img src="/pic/next-icon.png" class="icon-left" alt="" id="prev-img">
                            <div class="small-container">
                                <div id="small-img-roll">
                                    {{#each result.sub_image}}
                                    <img src="/images/{{result.image.[0].filename}}" class="show-small-img" alt="">
                                    <img src="http://placekitten.com/400/252" class="show-small-img" alt="">
                                    <img src="/images/{{result.image.[0].filename}}" class="show-small-img" alt="">
                                    <img src="/images/{{result.image.[0].filename}}" class="show-small-img" alt="">
                                    {{/each}}
                                </div>
                            </div>
                            <img src="/pic/next-icon.png" class="icon-right" alt="" id="next-img">
                        </div>

                    </div>


                    <div class="details col-md-6" style="z-index: 0;">
                        <h3 class="product-title">{{result.product_name}}</h3>
                        <div class="rating">
                            <div class="stars">
                                {{#each result.rating}}
                                {{#ifEquals this '1'}}
                                <i class="fa fa-star text-danger"></i>
                                {{else}}
                                <i class="fa fa-star-o text-secondary"></i>
                                {{/ifEquals}}
                                {{/each}}
                            </div>
                            {{#if result.productReview.totalCustomers}}
                            <span class="review-no">{{result.productReview.totalCustomers}} reviews</span>
                            {{else}}
                            <span class="review-no">0 reviews</span>
                            {{/if}}
                        </div>
                        <p class="product-description">{{result.product_Details}}</p>
                        <h4 class="price">current price: <span>₹ {{result.price}}</span></h4>
                        <div class="action">
                            <a onclick="addToCart('{{result._id}}')" class="add-to-cart btn btn-default">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function addToCart(id) {
            axios.get('/add_to_cart/' + id).then((result) => {
                if (result.data.login) {
                    if (result.data.success) {
                        swal.fire({ title: "Product added to cart!!", icon: "success", showConfirmButton: false, timer: 1100 })
                    }
                    else {
                        if (!result.data.stock) {
                            swal.fire({ title: "Can't Add To Cart!!  Stock Out", icon: "error", showConfirmButton: false, timer: 1100 })
                        } else {
                            swal.fire({ title: "Can't Add More!!", icon: "error", showConfirmButton: false, timer: 1100 })
                        }
                    }
                } else {
                    window.location.href = '/user_login'
                }


            })
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script src="/js/zoomImage.js"></script>
    <script src="/js/zoomMain.js"></script>
</body>

</html>