<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />
	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
  
  <style>
   

    	@media screen and (min-width: 742px) {
  body{
      overflow-y: hidden;
    }
}

    .profile-main {
      width: 100vw;
      min-height: 100vh;
      background-color: var(--lightWhite);
    }

    .profile-container {
      background-color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
    }
a{
  text-decoration: none;
}
    .profil-row button {
      width: 70px;
      height: 35px;
      border: none;
      outline: none;
      background-color: rgb(37, 35, 35);
      color: white;
      font-weight: 500;
      font-size: .9rem;
      margin-top: 20px;
    }

    .profil-row button:last-child {
      background-color: rgb(248, 50, 50);
    }

    .profil-row i {
      font-size: .7rem;
    }

    .profile-items {
      display: flex;
      flex-direction: column;
    }

    .profile-item {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      margin-top: 10px;
      padding: 0px 20px;
      color: var(--black);
    }

    .manage-profile-address {
      display: flex;
      flex-direction: column;
    }

    .manage-address-row {
      background-color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }

    .man-ad-left {
      display: flex;
      flex-direction: column;
    }

    .man-ad-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .man-ad-right i {
      font-size: 1.2rem;
      color: red;
      font-weight: 500;
    }

    .man-ad-right i:last-child {
      color: blue;
    }

    .navBar {
      display: flex;
      align-items: center;
      height: 120px;
    }
    .dropdown-menu {
			width: auto !important;
			min-width: 100% !important;
			right: 0 !important;
			left: auto !important;
		}

		.sidebar {
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 200;
			transition: .3s;
			left: -1000px;
		}

		.sidebar-container {
			background-color: #222222;
			display: flex;
			flex-direction: column;
			width: 60%;
			height: 100%;
			gap: 10px;
			padding: 10px;
			justify-content: space-between;
		}

		.side-items {
			height: 50px;
			display: flex;
			gap: 20px;
			align-items: center;
			color: white;
			background-color: #6a6a6a;
			padding-left: 10px;
			border-radius: 10px;
		}

		.side-sec-1 {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		#header {
			border-bottom: 3px solid red;
		}
  </style>
  <title>E-Zone</title>
</head>

<body>

  <div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row align-items-center text-center">
				<!-- LOGO -->
				<div class="col-md-6 col-12">
					<div class="header-logo d-flex justify-content-around">
						<a href="#" class="logo ">
							<h1 class="font-weight-bold" style="color: #ffff;">E-<font color="#FFD523">Zone</font>
							</h1>
						</a>
						<h1 style="color: #ffff;" id="hamsBurger"><i onclick="openSidebar()"
								class="fa fa-bars d-md-none"></i></h1>
					</div>
				</div>
				<div class=" col-md-6 d-none d-md-flex justify-content-end ms-auto align-items-center ">
					<div class="header-ctn">
						<div>
							<a href="/getShopPage">
								<i class="ri-shopping-bag-fill"></i> <span>Shop</span>
							</a>
						</div>
						<div>
							<a href="/getWhishList">
								<i class="fa fa-heart-o"></i>
								<span>Your Wishlist</span>
							</a>
						</div>
						<div>
							<a href="/cart" aria-expanded="true">
								<i class="fa fa-shopping-cart"></i>
								<span>Your Cart</span>
							</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary text-white dropdown-toggle" type="button"
							id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">{{data.name}}</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="/user_profile">Profile</a>
							<a class="dropdown-item" href="/user_logOut">Log Out</a>
						</div>
					</div>
				</div>

				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>



  <div class="profile-main">

    <div class="container pt-5">

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="profile-container">
            <h4>General</h4>
            <div class="profil-row">
              <b>Name : </b><span>{{data.name}}</span>
            </div>
            <div class="profil-row">
              <b>Mob No : </b><span>{{data.mob_no}}</span>
            </div>
          </div>
          <div class="porfile-items">
            <a href="/cart" class="profile-item">
              <button class="btn btn-dark">Cart <i class="ri-shopping-cart-line mx-2"></i></button>
            </a>
          </div>
          <div class="porfile-items">
            <a href="/getWhishList" class="profile-item">
              <button class="btn btn-dark">Wishlist <i class="ri-heart-line mx-2"></i></button>
            </a>
          </div>
          <div class="porfile-items">
            <a href="/orderHistory" class="profile-item">
              <button class="btn btn-dark">Order History <i class="ri-shopping-bag-2-line mx-2"></i></button>
            </a>
          </div>
          <div class="porfile-items">
            <a  class="profile-item">
               <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View Wallet
              </button>
            </a>
          </div>

          

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Wallet Balance ={{data.wallet}}/-</h5>
                    </div>
                    <div class="modal-body">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center" scope="col">Sl No.</th>
                            <th class="text-center" scope="col">Credit/Debit</th>
                            <th class="text-center" scope="col">Refund Amount</th>
                            <th class="text-center" scope="col">Date</th>
                            <th class="text-center" scope="col">OrderId</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each data.walletHistory}}
                      <tr>
                        <td class="text-center">{{inc @index}}</td>
                        <td class="text-center">{{this.transactionType}}</td>
                        <td class="text-center">{{this.amount}}</td>
                        <td class="text-center">{{this.transactionDate}}</td>
                        <td class="text-center">{{this.orderId}}</td>
                      </tr>
                      {{/each}}
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>

                    </div>
                  </div>
                </div>
              </div>
            {{!-- </div>
          </div> --}}


        </div>
        <div class="col-12 col-md-6">

          {{#unless addAddress}}
          <div class="manage-profile-address pt-3">
            <div class="d-flex justify-content-around">
              <h4>Manage address </h4>
              {{#unless maxAddress}}
              <a href="/addAddress" class="btn btn-dark rounded-4 ">Add Address</a>
              {{/unless}}
            </div>
            {{#each data.address}}
            <div class="manage-address-row">
              <div class="man-ad-left">
                <b>{{this.name}}</b>
                <b>{{this.mob_no}} </b>
                <b>{{this.address}}</b>
                <b>PIN:{{this.pincode}}</b>
              </div>
              <div class="man-ad-right">
                <a href="/delete_user_address/{{this.address_id}}">
                  <i class="ri-delete-bin-5-line"></i>
                </a>
                {{!-- <i class="ri-delete-bin-5-line" onclick="deleteAddress('<%=item.id%>')"></i> --}}
                <a href='/edit_Address/{{this.address_id}}'><i class="ri-edit-box-line"></i></a>
              </div>
            </div>
            {{/each}}

            <div class="mt-3 text-center">

              <b class="font-weight-bold"><span class="text-danger font-weight-bold "> NOTE: </span>Only 3 Address Can
                Be Added</b>
            </div>

          </div>
          {{else}}
          {{!--
          ************************************************************************************************************************
          --}}
          <div class="container">
            <div class="row mx-0 justify-content-center">
              <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3 " style="width: 65%;">
                {{#unless edit}}
                <form method="POST" class=" rounded-1 p-4 border bg-secondary" action="addAddress">
                  <label class="d-block mb-4">
                    <span class="form-label d-block">Name :</span>
                    <input style="width: 100%;" name="name" type="text" class="form-control" />
                  </label>

                  <label class="d-block mb-4">
                    <span class="form-label d-block">Mobile No :</span>
                    <input style="width: 100%;" name="mob_no" type="text" class="form-control" placeholder="" />
                  </label>

                  <label class="d-block mb-4">
                    <span class="form-label d-block">Pin Code :</span>
                    <input style="width: 100%;" name="pincode" type="text" class="form-control" placeholder="" />
                  </label>

                  <label class="d-block mb-4">
                    <span class="form-label d-block">Address :</span>
                    <input style="width: 100%; height: 5rem;" name="address" type="text" class="form-control"
                      placeholder="" />
                  </label>

                  <div class="mb-3 text-center">

                    <button type="submit" class="btn btn-primary px-3 rounded-3">
                      Save
                    </button>
                  </div>
                </form>
                {{else}}
                <form method="POST" class=" rounded-1 p-4 border bg-secondary"
                  action="update_Address/{{edit.address_id}}">
                  <label class="d-block mb-4">
                    <span class="form-label d-block">Name :</span>
                    <input style="width: 100%;" name="name" type="text" class="form-control" value="{{edit.name}}" />
                  </label>
                  <label class="d-block mb-4">
                    <span class="form-label d-block">Mobile No :</span>
                    <input style="width: 100%;" name="mob_no" type="text" class="form-control" placeholder=""
                      value="{{edit.mob_no}}" />
                  </label>
                  <label class="d-block mb-4">
                    <span class="form-label d-block">Pin Code :</span>
                    <input style="width: 100%;" name="pincode" type="text" class="form-control" placeholder=""
                      value="{{edit.pincode}}" />
                  </label>
                  <label class="d-block mb-4">
                    <span class="form-label d-block">Address :</span>
                    <input style="width: 100%; height: 5rem;" name="address" type="text" class="form-control"
                      placeholder="" value="{{edit.address}}" />
                  </label>

                  <div class="mb-3 text-center">

                    <button type="submit" class="btn btn-primary px-3 rounded-3">
                      Save
                    </button>



                  </div>
                </form>
                {{/unless}}

              </div>
            </div>
          </div>

          {{/unless}}
          {{!--
          ************************************************************************************************************************
          --}}

        </div>
      </div>
    </div>
  </div>

 
    <script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script>
  <script>
    function openSidebar() {
            console.log('dfghjk')
			document.getElementById('sidebar').style.left ="0px"
			document.getElementById('hamsBurger').innerHTML = ''

		}
		function closeSidebar() {
            console.log('8952784512')
			document.getElementById('sidebar').style.left = "-1000px"
			document.getElementById('hamsBurger').innerHTML = '<i  onclick="openSidebar()" class="fa fa-bars d-md-none">'
		}
  </script>
</script>
</body>

</html>