<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg  bg-light"
    style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">kk foods</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
          <li class="nav-item active ">
            <a class="nav-link " href="/admin/admin_home" style="font-weight: bold;">Dash bord</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/admin_products">PRODUCT DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user_Details">USER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order_Details">ORDER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">CATEGORY DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/getCoupon">COUPON DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
          </li>
        </ul>

        <a href="/admin/log_Out" class="btn btn-outline-success btn-lg  ms-auto">log out</a>
      </div>
    </div>
  </nav>

<section style="margin-top: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-4">
        <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(123, 123, 123);width:max-content  ">
          <h4 style="font-family: cursive; font-weight: bold;">
            <img style="width: 80px; height: 80px;" class="img-fluid"
              src="https://www.shutterstock.com/image-illustration/graph-sales-arrow-3d-illustration-260nw-274638584.jpg"
              alt="">
            Total Revannue
          </h4>
          <h2><i style="font-size: 25px; position: relative; top: -3px;" class="bi bi-currency-rupee"></i>{{totalOrder}}
          </h2>
        </div>
      </div>
      <div class="col-md-4 pt-4">
        <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(123, 123, 123);width:max-content  ">
          <h4 style="font-family: cursive; font-weight: bold;">
            <img style="width: 80px; height: 80px;" class="img-fluid"
              src="https://woocommerce.com/wp-content/uploads/2020/03/woocommerce-reports-1.png?w=950" alt="">
            Total Orders
          </h4>
          <h2><i style="font-size: 25px; position: relative; top: -3px;"
              class="bi bi-currency-rupee"></i>{{orederCount}}</h2>
        </div>
      </div>
      <div class="col-md-4 pt-4">
        <div style="padding: 10px; box-shadow:0px 0px 10px 0px rgb(123, 123, 123);width:max-content  ">
          <h4 style="font-family: cursive; font-weight: bold;">
            <img style="width: 80px; height: 80px;" class="img-fluid"
              src="https://st2.depositphotos.com/1775462/9174/i/600/depositphotos_91743086-stock-photo-fast-food-plate-with-burger.jpg"
              alt="">
            Total Products
          </h4>
          <h2><i style="font-size: 25px; position: relative; top: -3px;" class="bi bi-currency-rupee"></i>{{totalpro}}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>


  <section style="background-color: #eee; margin-top: 50px; ">
      <div class="container vh-100   py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
              <ol
                class="breadcrumb mb-0"
                style="display: flex;  justify-content: space-between;"
              >
                {{! <li class="breadcrumb-item"><a href="/checkOut">Back</a></li> }}
                <li class="breadcrumb-item"><h4>Sales Report</h4></li>
              <div>
                <form action="/admin/salesReport" method="post">
                    <label for="">From</label>
                    <input type="date" name="date1" required>&nbsp;&nbsp;
                      <label for="">To</label> 
                    <input type="date" name="date2" required>&nbsp;
                    <input type="submit" style="background-color: rgb(16, 14, 14); color: white; font-family: cursive; " value="Filter">
                </form>
              </div>
              </ol>
            </nav>
          </div>
        </div>
    {{#if status}}
    <h4 style="text-align: center; font-weight: bold; font-family: cursive;">No Data Available</h4>
    {{else}}
       
        <table class="table align-middle mb-0 bg-white container">

          <thead class="bg-light">
            <tr>
              <th>Order ID</th>
              <th>Username</th>
              <th>Product</th>
              <th>price </th>
              <th>Qty</th>
              <th>Sub Total</th>
               
              

            </tr>
          </thead>
         {{#each result}}
            <tbody>

              <tr>

                <td>

                  <p class="fw-normal mb-1">{{this.orderID}}</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{this.address.fname}} {{this.address.lname}}</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{this.products.[0].productname}}</p>
                </td>
                 <td>
                  <p class="fw-normal mb-1">{{this.products.[0].price}}</p>
                </td>
                 <td>
                  <p class="fw-normal mb-1">{{this.products.[0].cartQuantity}}</p>
                </td>
                 <td>
                  <p class="fw-normal mb-1">{{this.subTotal}}</p>
                </td>
               
                
              </tr>
              {{/each}}
            </tbody>
        
        </table>
      
        <div style="background-color: white;
        height: 60px;
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    align-content: stretch;
     
    flex-direction: column;">
          <div style=" margin-top: 14px; ">
             <h4 style="text-align: right; margin-right: 90px; font-weight: bold; font-family: cursive; ">Total Revenue: <i style="font-size: 25px;  "class="bi bi-currency-rupee" ></i>{{total}}</h4></div> 
            </div>
              {{/if}}
      </div>
    </section>
    {{!-- {{/if}} --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

</body>

</html>