<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/admin/banner.css" />
</head>

<body>
  <div class="container-scroller" style="padding-top: 150px;">
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
     <nav class="navbar navbar-expand-md">
                <div class="navbar-container container">
                    <input type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <ul class="menu-items" style="z-index: 1;">
                        <li><a href="/admin/admin_home">Dashboard</a></li>
                        <li><a href="/admin/category">Categories</a></li>
                        <li><a href="/admin/admin_products">Products</a></li>
                        <li><a href="/admin/user_Details">Users</a></li>
                        <li><a href="/admin/getCoupon">Coupons</a></li>
                        <li><a href="/admin/order_Details">Orders</a></li>
                        <li><a href="/admin/getSalesReport">Sales Report</a></li>
                        <li><a href="/admin/getBanner">Banner</a></li>
                        <li><a href="/admin/log_Out">Logout</a></li>
                    </ul>
                    <div class="navbar-container">
                        <h1 class="font-weight-bold" style="color: #ffff;">E-<font color="#FFD523">Zone</font>
                        {{!-- <h1 class="navbar-brand logo" style="color: white;margin-right: 70px;">Perfumio</h1> --}}
                    </div>
                </div>
            </nav>
            
      <section style="margin-top: 10px; margin-left: 5rem;margin-right: 5rem; background-color: rgb(255, 255, 255);">
        <div class="container">
          {{!-- <div class="row">
            <form class="form-inline my-2 my-lg-0">
              <div class="d-flex">
                <input class="form-control mr-sm-2" style="width: 80%;" type="text" placeholder="Search product">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>

            </form>
          </div> --}}

        </div>
        <div  style="display: flex; justify-content: flex-end;">
          <a href="/admin/addBanner" style="text-decoration: none;width: 15rem;margin-left: 1rem;"><button
              class="btn btn-outline-primary">Add Banner</button></a>

        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">No.</th>
                            <th class="text-center" scope="col">Product Name</th>
                            <th class="text-center" scope="col" style="margin: right 75px;">Image</th>
                            <th class="text-center" scope="col">Target</th>
                            <th class="text-center" scope="col">Target</th>
                            <th class="text-center" scope="col">Target</th>
                            <th class="text-center" scope="col">Status</th>
                            <th class="text-center" scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each banners}}
                        <tr>
                            <th class="text-center" scope="row">{{inc @index}}</th>
                            <td class="text-center">{{this.bannerName}}</td>
                            <td class="text-center"><img src="/images/{{this.image.[0].filename}}" alt=""
                                    style="width: 40px; height: 50px;"></td>
                            <td class="text-center">{{this.target}}</td>
                            {{#if this.flag}}
                            <td class="text-center"><a href="/admin/bannerFlagandUnFlag/{{this._id}}/unflag"><button class="btn btn-info" >Flag</button></a></td>
                            {{else}}
                            <td class="text-center"><a href="/admin/bannerFlagandUnFlag/{{this._id}}/flag"><button class="btn btn-info" >UnFlag</button></a></td>
                            {{/if}}
                            <td class="text-center">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Options</button>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item"
                                            href="/admin/bannerUpdate?id={{this._id}}&cond=Edit">Edit</a>
                                    </li>
                                    <li> <a class="dropdown-item"
                                            href="/admin/bannerUpdate?id={{this._id}}&cond=Delete">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
</body>

</html>