
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/admin/product.css">
  <title>Document</title>
  <!-- Latest compiled and minified CSS & JS -->
</head>
<body>
  <nav class="navbar navbar-expand-lg  bg-light" style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">kk foods</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
        <a class="nav-link " href="/admin/admin_home" style="font-weight: bold;">Dash bord</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/admin_products">PRODUCT DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user_Details">USER DETAILS</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/order_Details">ORDER DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">CATEGORY DETAILS</a>
      </li>
       <li class="nav-item">
          <a class="nav-link"  href="/admin/getCoupon">COUPON DETAILS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
    </ul>

    <a href="/admin/log_Out" class="btn btn-outline-success btn-lg  ms-auto" >log out</a>
  </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 <style>
tr,th,td{
  color: rgb(8, 8, 8);
}
 </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </li>
    </ul>
     <div class="row">
      <div class="col d-flex" style="flex-direction: row-reverse">
              <a href="add_categoryPage"><button class="btn btn-success me-5">Add Category</button></a>

        </div>
    <form class="form-inline my-2 my-lg-0" action="/admin/user_search" role="search" type="submit" method="post">
        <div class="col">
      <input class="form-control mr-sm-2" type="search" style="width: 50%;" placeholder="Search" name="name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
<table class="table">
  <thead>
    <tr>
     <th scope="col">No.</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.category}}</td>
      <td>{{this.brandName}}</td>
      {{#if this.flag}}
      <td>Flagged</td>
      {{else}}
      <td>Unflagged</td>
      {{/if}}
      {{!-- {{#if this.block}}
      <td><a href="user_Unblock/{{this._id}}"><button onclick="return confirm('Do you want to unblock {{this.name}}')" class="btn btn-primary btn-rounded">Unblock</button></a> </td>
      {{else}} 
      <td><a href="user_Block/{{this._id}}"><button class="btn btn-danger btn-rounded" onclick="return confirm('Do you want to block {{this.name}}')">Block</button></a></td>
   {{/if}} --}}
<td>
  <div id="container">
                  <div id="menu-wrap">
                    <input type="checkbox" class="toggler" />
                    <div class="dots">
                      <div></div>
                    </div>
                    <div class="menu">
                      <div>
                        <ul>
                          <li><a href="editCategory/{{this._id}}" class="link">Edit Category</a></li>
                          {{#if this.flag}}
                          <li><a href="flag_and_unFlag_category/{{this._id}}" class="link">Unflag</a></li>
                          {{else}}
                          <li><a href="flag_and_unFlag_category/{{this._id}}" class="link">Flag</a></li>
                          {{/if}}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
</td>
   
    </tr>{{/each}}
<div>
</div>
  </tbody>
</table>
</div>
</body>
</html>