
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Main CSS-->
    <link href="/css/addProduct.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Edit Product</h2>
                </div>
                <div class="card-body">
                    <form action="/admin/product_edit/{{data._id}}"method="post" id="formData" enctype="multipart/form-data">
                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <label class="label--desc mb-2">Product Name :</label>
                                    <input class="input--style-5" input type="text" name="product_name"
                                        value={{data.product_name}}>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Category :</label>
                                            <select class="input--style-5" name="category" id="" required>
                                                <option value="{{data.category}}">{{data.category}}</option>
                                                {{#each result}}
                                                <option value="{{this.category}}">{{this.category}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2 ms-lg-5">Brand :</label>
                                            <select class="input--style-5 ms-lg-5" name="brandName" id="">
                                                <option value="{{data.brandName}}">{{data.brandName}}</option>
                                                {{#each result}}
                                                {{#each this.brandName}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name"></div>
                            <div class="value">
                                <div class="input-group-desc">
                                    <label class="label--desc mb-2">Description :</label>
                                    <input name="product_Details" value="{{data.product_Details}}"
                                        class="input--style-5" style="height: 5rem;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Price :</label>
                                            <input class="input--style-5" type="number" min="0" name="price"
                                                value={{data.price}}>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Stock Quantity</label>
                                            <input class="input--style-5" type="number" name="stockQuantity" min="1"
                                                value={{data.stockQuantity}}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Image :</label>
                                            <img style="height: 80px; object-fit:contain;"
                                                src="/images/{{data.image.[0].filename}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Image :</label>
                                            <input class="input--style-5" value="{{data.image.[0].filename}}"
                                                style="font-size:smaller;" name="image" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6 d-flex">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Sub Image :</label>
                                            <div class="d-flex">
                                                {{#each data.sub_image}}
                                                <div id="imageDiv{{this.filename}}"  class="text-center d-flex flex-column">
                                                    <img style="height: 80px; object-fit:contain;"
                                                        src="/images/{{this.filename}}">
                                                    <button type="button"  data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal{{this.filename}}">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{this.filename}}" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                        Do you Want to delete {{this.originalname}} Image</h1>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="button" data-bs-dismiss="modal" onclick="deleteImage('{{../data._id}}','{{this.filename}}')" class="btn btn-primary">Confirm</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name"></div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <label class="label--desc mb-2">Sub Image :</label>
                                            <input class="input--style-5" value="{{data.image.[0].filename}}"
                                                style="font-size:smaller;" name="sub_image" type="file" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button onclick="get()" class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
function deleteImage(id,filename){
        console.log('haiiiiiiiiiii',id,filename)
    axios.get('deleteImages/'+filename+'/'+id).then((result)=>{
        console.log(result)
        console.log(document.getElementById('imageDiv'+filename))
        document.getElementById('imageDiv'+filename).innerHTML=''
    })
}
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Main JS-->
    <script src="js/global.js"></script>
</body>

</html>
<!-- end document-->