<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/admin/product.css">
</head>

<body style="margin: 1rem;">
 
<nav class="navbar navbar-expand-lg  bg-light" style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">kk foods</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
        <a class="nav-link " href="/admin/admin_home" style="font-weight: bold;">Dash bord</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/admin_products">PRODUCT DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user_Details">USER DETAILS</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/order_Details">ORDER DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">CATEGORY DETAILS</a>
      </li>
       <li class="nav-item">
          <a class="nav-link"  href="/admin/getCoupon">COUPON DETAILS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
    </ul>

    <a href="/admin/log_Out" class="btn btn-outline-success btn-lg  ms-auto" >log out</a>
  </div>
  </div>
</nav>
  <style>
    tr,
    th,
    td {
      color: rgb(8, 8, 8);
    }
  </style>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">customer Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Order Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Order Status</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        {{#each orders}}
        <tr>
          <td scope="row">{{@index}}</td>
          <td>{{../name}}</td>
          <td>{{this.productName}}</td>
          <td>{{this.category}}</td>
          <td>{{this.orderDate}}</td>
          <td>{{this.quantity}}</td>
          <td>₹: {{this.totalAmount}} /-</td>
          {{#if this.cancelStatus}}
          <td class="text-danger">Cancelled</td>
          {{else}}
          <td class="text-success">{{this.orderStatus}}</td>
          {{/if}}
          <td>

            {{#unless this.cancelStatus}}
            <div id="container">
              <div id="menu-wrap">
                <input type="checkbox" class="toggler" />
                <div class="dots">
                  <div></div>

                </div>
                <div class="menu">
                  <div>
                    <ul>
                      {{#unless this.shipped}}
                      <li><a
                          href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/shipped"
                          class="link">Shipped</a></li>
                      {{/unless}}
                      {{#unless this.delivered}}
                      <li><a
                          href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/delivered"
                          class="link">Delivered</a></li>
                      {{#unless this.cancelStatus}}
                      <li><a
                          href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/cancelled"
                          class="link">cancel</a></li>
                      {{/unless}}
                      {{/unless}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {{/unless}}


            {{!-- <a href="adminCancelOrder/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}"><button
                class="btn btn-danger rounded-pill">cancel</button></a> --}}
          </td>
          {{/each}}
        </tr>{{/each}}
      </tbody>
    </table>
  </div>

</body>

</html>