<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/admin/product.css">
  {{#if singleOrderDetails }}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/css/singleProduct.css">
  {{/if}}

</head>

<body>

  <nav class="navbar navbar-expand-lg  bg-light"
    style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">kk foods</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
          <li class="nav-item active ">
            <a class="nav-link " href="/admin/admin_home" style="font-weight: bold;">Dash bord</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/admin_products">PRODUCT DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user_Details">USER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order_Details">ORDER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">CATEGORY DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/getCoupon">COUPON DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
          </li>
        </ul>

        <a href="/admin/log_Out" class="btn btn-outline-success btn-lg  ms-auto">log out</a>
      </div>
    </div>
  </nav>
  {{#unless singleOrderDetails}}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">customer Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Order Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Order Status/Change Status</th>
          <th scope="col">View Order</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        {{#each orders}}
        <tr>
          <td scope="row">{{@index}}</td>
          <td>{{../name}}</td>
          <td>{{this.productName}}</td>
          <td>{{this.category}}</td>
          <td>{{this.orderDate}}</td>
          <td>{{this.quantity}}</td>
          <td>₹: {{this.totalAmount}} /-</td>
          <td>
            {{#if this.returnStatus}}
            <button class="btn btn-info" type="button" data-bs-toggle="dropdown" aria-expanded="false">Returned</button>
            {{else}}
            {{#if this.cancelStatus }}
            <button class="btn btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cancelled
            </button>
            {{else if this.delivered}}
            <button class="btn btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Delivered
            </button>
            {{else}}
            {{#unless this.shipped}}
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{this.orderStatus}}
            </button>
            {{else}}
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{this.orderStatus}}
            </button>
            {{/unless}}
            <ul class="dropdown-menu">
              {{#unless this.shipped}}
              <li><a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/shipped">Shipped</a>
              </li>
              {{/unless}}
              <li> <a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/delivered">Delivered</a>
              </li>
              <li> <a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/cancelled">Cancel</a>
              </li>
            </ul>
            {{/if}}
            {{/if}}

  </div>
  </td>
  <td><button onclick="window.location.href='viewOrder/{{this.order_id}}'" class="btn btn-info text-white" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      View
    </button></td>
  {{/each}}
  </tr>{{/each}}
  </tbody>
  </table>
  </div>

  {{!--view Order start--}}
  {{else}}
  <div class="text-center">
    <h1 class="product-title"><u>Order Details</u></h1>
  </div>
  <div class="container">
    <div class="card" style="height: 90vh;">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="wrap-pic-w pos-relative" id="picZoom" style="z-index: 100; margin-bottom: 10rem; width: 80%;">
              <img id="firstImage" src="/images/{{singleOrderDetails.image.[0].filename}}" />
            </div>
            <div class="preview-pic tab-content">
            </div>
          </div>
          <div class="details col-md-6" style="z-index: 0;">
            <p class="product-description"><b>Product Name&nbsp;&nbsp;&nbsp;:
                {{singleOrderDetails.productName}}</b></p>
                 <p class="product-description"><b>Brand Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{singleOrderDetails.brandName}}</b></p>
            <p class="price">current price&nbsp;: <span>₹ {{singleOrderDetails.price}} /-</span></p>
            <p class="product-description">
              <b>Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{singleOrderDetails.quantity}}</b>
            </p>
            <div class="d-flex">
              <p class="product-description"><b>DeliveryAddress: </b> </p>
              <p><b>&nbsp;&nbsp; {{singleOrderDetails.deliveryAddress}}</b></p>
            </div>
            <p class="product-description"><b>Total Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ₹
                {{singleOrderDetails.totalAmount}} /-</b></p>
            <p class="product-description"><b>Order Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{singleOrderDetails.orderDate}}</b></p>
            <p class="product-description"><b>Order Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                {{singleOrderDetails.orderStatus}}</b></p>
           
          </div>
    <div class="text-end"><a href="order_Details" class="btn btn-warning ">back</a></div>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}
  {{!-- view order end--}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>