<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/admin/product.css">
{{#if singleOrderDetails }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/singleProduct.css">
{{/if}}

</head>

<body>

  <nav class="navbar navbar-expand-lg  bg-light"
    style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">kk foods</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
          <li class="nav-item active ">
            <a class="nav-link " href="/admin/admin_home" style="font-weight: bold;">Dash bord</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/admin_products">PRODUCT DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user_Details">USER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/order_Details">ORDER DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/category">CATEGORY DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/getCoupon">COUPON DETAILS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
          </li>
        </ul>

        <a href="/admin/log_Out" class="btn btn-outline-success btn-lg  ms-auto">log out</a>
      </div>
    </div>
  </nav>
  {{#unless singleOrderDetails}}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">customer Name</th>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">Order Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Order Status/Change Status</th>
          <th scope="col">View Order</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
        {{#each orders}}
        <tr>
          <td scope="row">{{@index}}</td>
          <td>{{../name}}</td>
          <td>{{this.productName}}</td>
          <td>{{this.category}}</td>
          <td>{{this.orderDate}}</td>
          <td>{{this.quantity}}</td>
          <td>₹: {{this.totalAmount}} /-</td>
          <td>
            {{#if this.cancelStatus }}
            <button class="btn btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cancelled
            </button>
            {{else if this.delivered}}
            <button class="btn btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Delivered
            </button>
            {{else}}
            {{#unless this.shipped}}
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{this.orderStatus}}
            </button>
            {{else}}
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{this.orderStatus}}
            </button>
            {{/unless}}

            <ul class="dropdown-menu">
              {{#unless this.shipped}}
              <li><a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/shipped">Shipped</a>
              </li>
              {{/unless}}
              <li> <a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/delivered">Delivered</a>
              </li>
              <li> <a class="dropdown-item"
                  href="adminOrderUpdate/{{this.order_id}}/{{../_id}}/{{this.product_id}}/{{this.quantity}}/cancelled">Cancelled</a>
              </li>
            </ul>
            {{/if}}

  </div>
  </td>
  <td><button onclick="window.location.href='viewOrder/{{this.order_id}}'" class="btn btn-info text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              View
            </button></td>
  {{/each}}
  </tr>{{/each}}
  </tbody>
  </table>
  </div>

  {{!--view Order start--}}
{{else}}
    <div class="container">
        <div class="card" style="height: 90vh;">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="wrap-pic-w pos-relative" id="picZoom"
                            style="z-index: 100; margin-bottom: 10rem; width: 80%;">
                            <img id="firstImage" src="/images/{{result.image.[0].filename}}" />
                        </div>
                        <div class="preview-pic tab-content">

                            <div class="tab-pane"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                        onclick="changeImage(this.id)" id="pic-2"
                                        src="http://placekitten.com/200/126" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img
                                        src="http://placekitten.com/200/126" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img
                                        src="http://placekitten.com/200/126" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img
                                        src="http://placekitten.com/200/126" /></a></li>
                        </ul>

                    </div>
                    <div class="details col-md-6" style="z-index: 0;">
                        <h3 class="product-title">{{result.product_name}}</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">{{result.product_Details}}</p>
                        <h4 class="price">current price: <span>₹ {{result.price}}</span></h4>
                        <div class="action">
                            <a href="/add_to_cart/{{result._id}}" class="add-to-cart btn btn-default">add to cart</a>
                            <button class="like btn btn-default" type="button"><span
                                    class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/unless}}
{{!-- view order end--}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>