
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>

     <script
              src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous"></script>

      <!-- Latest compiled and minified CSS & JS -->
      <link rel="stylesheet" media="screen"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="margin: 1rem;">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(217, 217, 217);">
  <div class="container">
    <a class="navbar-brand mx-5" href="#">logo</a>
    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item">

          <a class="nav-link active" aria-current="page" href="/admin/admin_home"><button class="btn btn-dark mx-2" style="font-size: larger;">HOME</button></a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin/admin_products"><button class="btn btn-dark mx-2" style="font-size: larger;">PRODUCT</button></a>

        </li>
        <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="/admin/user_Details"><button class="btn btn-dark mx-2" style="font-size: larger;">USER DETAILS</button></a>

        </li>
        <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="/admin/order_Details"><button class="btn btn-dark mx-2" style="font-size: larger;">ORDER DETAILS</button></a>
        </li>

<li class="nav-item">
       <a class="nav-link active" aria-current="page" href="/admin/category"><button class="btn btn-dark mx-2" style="font-size: larger;">CATEGORY</button></a>
        </li>

      </ul>
        </div>
      <div class="ms-auto">

            <a class="nav-link active" aria-current="page" href="/admin/Log_Out"><button class="btn btn-danger "
                style="font-size: larger;">Log Out</button></a>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


 <style>
tr,th,td{
  color: rgb(8, 8, 8);
}
 </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </li>
    </ul>
     <div class="row">
    <form class="form-inline my-2 my-lg-0" action="/admin/user_search" role="search" type="submit" method="post">
        <div class="col">
      <input class="form-control mr-sm-2" type="search" style="width: 50%;" placeholder="Search" name="name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      </form>
    </div>
  </div>
</nav>
<div>
<table class="table">
  <thead>
    <tr>
     <th scope="col">No.</th>
      <th scope="col">User Name</th>
      <th scope="col">E-mail-id</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.mob_no}}</td>
      <td>{{this.address}}</td>
      {{#if this.block}}
      <td><a href="user_Unblock/{{this._id}}"><button onclick="return confirm('Do you want to unblock {{this.name}}')" class="btn btn-primary btn-rounded">Unblock</button></a> </td>
      {{else}} 
      <td><a href="user_Block/{{this._id}}"><button class="btn btn-danger btn-rounded" onclick="return confirm('Do you want to block {{this.name}}')">Block</button></a></td>
   {{/if}}
    </tr>{{/each}}
<div>
</div>
  </tbody>
</table>
</div>
</body>
</html>